.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.app__modal{
  position: absolute;
  bottom: 0;
  width: 50%;
  background: rgb(2,0,36);
  background: linear-gradient(142deg, rgba(2,0,36,0.45840342973126746) 0%, rgba(200,32,235,0.5452381636248249) 35%, rgba(0,212,255,1) 100%); 
  color: white; 
  border-radius: 50px 50px 0 0;
  margin: 0 auto;
}

.app__subs__container{
  border: 1px solid grey;
  height: 4em;
  min-width: 500px;
  max-width: 500px;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 2em;
  border: solid 5px transparent;
  /* !importanté */
  border-radius: 1em;
  position: relative;
  background: white;
  background-clip: padding-box;
  padding: 0 15px;
}
.app__subs__container:before {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -1;
margin: -5px;
/* !importanté */
border-radius: inherit;
/* !importanté */
background: linear-gradient(142deg, rgba(2,0,36,0.45840342973126746) 0%, rgba(200,32,235,0.5452381636248249) 35%, rgba(0,212,255,1) 100%); 
}

.subs{
  overflow-y: scroll;width: 100%;height: 100%;
}

.app__modal__controls{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.disabled{
  opacity: 0.5;
  pointer-events: none;
}